
/* WEBPAGE-WIDE STYLE RULES */
@font-face {
    font-family: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
    src: url(https://github.com/IBM/plex);
}
.main-container {
    display: flex;
    justify-content: center;
    margin: 0.5em;
    margin-top: 3.5em;
    overflow-x: scroll;
}
.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page-heading {
    display: flex;
    justify-content: center;
    font-size: 3.375rem; 
    font-weight: 600; 
    line-height: 1.25;
}
.center-image {
    margin-top: 2em;
}

/* HOME PAGE */
#homepage {
	background-color: #25467A;
    font-family: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
    color: #FBFCFC;
}
.page-description {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.home-center-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 65em;
}
.directional-word {
    font-size: 1.5rem; 
    font-weight: 600; 
}
.page-link {
    text-decoration: none;
    color: #FBFCFC;
}
.page-link:hover {
    color: #272727;
}


/* BOTH LIFE AND WORK PAGES*/
.body-paragraph {
    margin: 3em;
}


/* LIFE PAGE */
#lifepage {
	background-color: #00B6CB;
    font-family: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
    color: #FBFCFC;
}
.life-center-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    width: 65em;
}
.life-link-icon {
    color: #FBFCFC;
    font-size: 2em;
    margin-left: 1em;
}
.life-link-icon:hover {
    color: #272727;
}
.life-body-links {
    display: flex;
    justify-content: flex-end; 
    margin: 3em;
}


/* WORK PAGE */
#workpage {
	background-color: #648FFF;
    font-family: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
    color: #FBFCFC;
}
.work-center-container {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    width: 65em;
}
.work-link-icon {
    color: #FBFCFC;
    font-size: 2em;
    margin-right: 1em;
}
.work-link-icon:hover {
    color: #272727;
}
.work-body-links {
    display: flex;
    justify-content: flex-start; 
    margin: 3em;
}


