
/* WEBPAGE-WIDE STYLE RULES */
@font-face {
    font-family: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
    src: url(https://github.com/IBM/plex);
}
.main-container {
    display: flex;
    justify-content: center;
    margin: 0.5em;
    margin-top: 3.5em;
}
.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* BIBLIOPHILE */
#homepage {
	background-color: #EAEAEA;
    font-family: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
}
.body-text {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32.5vh;
    object-fit: contain;
    max-width: 80%;
    max-height: 15vh;
}
.body-links {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}
.link-icon {
    color: #272727;
    font-size: calc(1vw + 1vh);
    margin: 0.5em;
}
.link-icon:hover {
    color: #FBFCFC;
}
.footer1 {
    font-weight: 340;
    font-size: calc(7px + 1vw);
    position: absolute;
    bottom: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer2 {
    font-weight: 400;
    font-size: calc(7px + 1vw);
    position: absolute;
    bottom: 2.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
#link1 {
    text-decoration: none;
    color:#89A2F6;
}
#link1:hover {
    color: #FBFCFC;
}

/* JAZZ */
#jazzpage {
	background-color: #89A2F6;
    font-family: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
}
#link2 {
    text-decoration: none;
    color:#FCAF6D;
}
#link2:hover {
    color: #FBFCFC;
}

/* USC */
#uscpage {
    background-color: #FFAA9D;
    font-family: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
}
#link3 {
    text-decoration: none;
    color:#EAEAEA;
}
#link3:hover {
    color: #FBFCFC;
}